.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 26.5rem;
    height: 100vh;
    padding: 3rem 4rem;

    background-color: var(--purple-500);
    color: var(--white);

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    strong {
        font-family: Lexend, sans-serif;
        font-weight: 600;
    }

    footer {
        align-self: stretch;

        &.empty {
            opacity: .5;
        }
    }
}

@media (max-width: 1300px) {
    .playerContainer {
        width: 23rem;
        padding: 2rem 2rem;
    }
}

.currentEpisode {
    text-align: center;

    img {
        border-radius: 1.5rem;
    }

    strong {
        display: block;
        margin-top: 2rem;
        font: 600 1.25rem Lexend, sans-serif;
        line-height: 1.75rem;
    }

    span {
        display: block;
        margin-top: 1rem;
        opacity: .6;
        line-height: 1.5rem;
    }
}

@media (max-height: 800px) {
    .currentEpisode {
        img {
            width: 75%;
            height: 75%;
        }

        strong {
            margin-top: 1.8rem;
            font: 600 1.15rem Lexend, sans-serif;
            line-height: 1.6rem;
        }
    
        span {
            margin-top: 1rem;
            line-height: 1.45rem;
        }
    }
}

@media (max-height: 700px) {
    .currentEpisode {
        img {
            width: 66%;
            height: 66%;
        }

        strong {
            margin-top: 1.4rem;
            font: 600 1.1rem Lexend, sans-serif;
            line-height: 1.4rem;
        }
    
        span {
            margin-top: 1rem;
            line-height: 1.35rem;
        }
    }
}

@media (max-height: 600px) {
    .currentEpisode {
        img {
            width: 60%;
            height: 60%;
        }

        strong {
            margin-top: 1.2rem;
            font: 600 1rem Lexend, sans-serif;
            line-height: 1.3rem;
        }
    
        span {
            margin-top: 1rem;
            line-height: 1.25rem;
        }
    }
}

.emptyPlayer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 20rem;

    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background: linear-gradient(143.8deg, rgba(145, 100, 250, .8) 0%, rgba(0, 0, 0, 0) 100%);

    padding: 4rem;
    text-align: center;
}

.progress {
    display: flex;
    align-items: center;

    gap: .5rem;
    font-size: .875rem;

    span {
        display: inline-block;
        width: 4rem;
        text-align: center;
    }

    .slider {
        flex: 1;

        .emptySlider {
            width: 100%;
            height: 4px;
            background-color: var(--purple-300);
            border-radius: 2px;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2.5rem;
    gap: 1.5rem;

    button {
        background-color: transparent;
        border: 0;
        font-size: 0;

        transition: filter .2s;

        &:disabled {
            cursor: default;
        }

        &:hover:not(:disabled) {
            filter: brightness(.75);
        }

        &.playButton {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            
            background-color: var(--purple-400);

            &:hover:not(:disabled) {
                filter: brightness(.95);
            }
        }
    }
}